<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head th:replace="/fragment/globaltemp::head"></head>

<body>

<!-- Navigation -->
<nav th:replace="/fragment/globaltemp::nav"></nav>

<!-- Page Content Starts-->

<!-- Page Content Ends-->

<!-- Footer -->
<footer th:replace="/fragment/globaltemp::footer"></footer>
<!-- Page Content Ends-->

<!-- Bootstrap core JavaScript -->
<div th:replace="/fragment/globaltemp::scripts"></div>

</body>

</html>
